


<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-secondary text-white">
        <div class="card-header bg-dark">
          Admin Login
        </div>
        <div class="card-body">
          <form action="/admin/login" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
              {{#if loginErr}}
             <a  class="btn btn-danger">incorrect credentials</a>
             {{/if}}
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

