
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-secondary text-white">
          <div class="card-header bg-dark">
            Login
          </div>
          <div class="card-body">
            <form action="/login" method="post" enctype="multipart/form-data">
               <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              {{#if logInErr}}
             <a  class="btn btn-danger">incorrect username/password</a>
              {{else}}
             <a href="/signup" class="btn btn-info">create an account?</a>
             {{/if}}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>